
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face{
  font-family: Diamond-Dust;
  src: url("/fonts/diamondfont.ttf");
}

@font-face {
	font-family: Angel-Font;
	src: url('/fonts/angelfont.ttf');
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body,html {
	width:100%;
	height:100%;
	margin:0;
	padding:0;

}

//real button
button {
	font-family: Angel-Font;
	font-weight:bold;
}

//mainbuttons
.button {
	button {
		border: none;
		background: none;
		outline:none;
		padding: 0 10%;
		font-size: 18px;

		transition: all .2s;

		&:hover {
			box-shadow: 0 8px 6px -6px #0a8eff;
			color:#0a8eff;
		}
	}
}

//main id tag
#main {
	width:100%;
	height:100%;
	overflow-x:auto;
	padding: 0 15% 0 15%;
	background-image:url('/images/site_bg.jpg');
	background-size:cover;
	background-repeat:no-repeat;
}

//animation to slide the screen
.slide {
	animation: slide .7s ease-in forwards;
}

@keyframes slide {
	from { 
		transform:translateX(100%);
		opacity:.4;
	}
	to {
		transform:translateX(0);
		opacity:1;
	}
}

//animate the quotes
.fade {
	animation: fade .8s ease-in-out forwards;
}
@keyframes fade {
	from{opacity:.1;}
	to{opacity:1;}
}

//handle the screen background
.screen {
	border: 20px solid transparent;
	border-image: url('/images/border_image.png') 80 round;

	h1 {
		font-family: Angel-Font;
		margin-bottom:3%;
	}

	#image-container {
		height:750px;
	}

	background-color:#EFDBCC;
	padding: 3%;
	overflow:auto;
}

//holds the title and menubar 
.heading {
	background-color: #EFDBCC;
	border: 30px solid transparent;
	padding:3% 2% 0 2%;
	border-image: url('/images/border_image.png') 80 round;
}

//title jsx tag
.title {
	h1 {
		color:white;
		font-family:Angel-Font;
		font-weight:bold;
		font-size:5em;
		opacity:.8;
		text-shadow: 2px 4px 8px #0a8eff;
	}

	h4 {
		font-family:Diamond-Dust;
		font-weight:bold;
	}

	p {
		height:50px;
	}
}

//padding for the entire screen
.padding {
	margin:1% 0;
}

/* Flaired edges, by Tomas Theunissen */

hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
